/* use for font family

font-family: 'Outfit', sans-serif; */

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}



body{
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;

}

.container{
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 5%;
    background-color: white;
    border-radius: 17px;
    gap: 30px;

}

.qr-code{
    max-width: 100%;
    border-radius: 17px;
}

.intro{
    text-align: center;
    font-weight: 700;
    
}

.paragraph{
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    text-align: center;
    padding: 0 5% 5% 5%;
}

@media screen and (min-width: 1440px) {
    .container{
        margin: 20%;

    }
    
}
